body{
    background-color: var(--color-grey-1);
    font-family: var(--Dosis);
    width: 100vw;
    height: 100vh;
}

.form {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

:focus {
  outline: none;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  color: var(--color-black);
  font-weight: 600;
  font-size: 14px;
}
.form__input {
  margin-top: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: capitalize;
  font-family: var(--Dosis);
  font-weight: 600;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-grey-2);
  border: 2px solid var(--color-black);
}

.form__label:nth-child(3) {
  margin-top: -15px;
}

/* Only used for showing */
.--not-valid {
  color: var(--color-red-1) !important;
}
.--not-valid > input {
  color: var(--color-red-1) !important;
  border: 2px solid var(--color-red-1) !important;
}
.--not-valid > .form__error-msg {
  visibility: visible;
}

.--not-valid ::placeholder {
  color: var(--color-red-1) !important;
}

.form__error-msg {
  height: 37px;
  visibility: hidden;
  width: 100%;
}
.form__link {
  color: var(--color-purple-1);
  font-weight: 600;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.form__button--green {
  font-family: var(--Dosis);
  color: var(--color-white);
  background-color: var(--color-green-4);
  border-radius: 5px;
  border: var(--color-green-2) 3px solid;
  padding: 10px 20px;
  font-size: 22px;
  width: 200px;
  margin: 0px auto;
  margin-bottom: 10px;
  margin-top: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.form__button--orange {
  font-family: var(--Dosis);
  color: var(--color-white);
  background-color: var(--color-orange-1);
  border-radius: 5px;
  border: var(--color-yellow-1) 3px solid;
  padding: 10px 20px;
  font-size: 22px;
  width: 200px;
  margin: 0px auto;
  margin-bottom: 10px;
  margin-top: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

button:hover {
  transition: 0.2s;
  cursor: pointer;
  transform: scale(0.98);
}
