#dashboard__container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.dashboard__container-buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
}

.dashboard__button-selection {
    width: 8rem;
    height: 10rem;
    box-shadow: 1px 3px 3px var(--color-grey-2);
    border: none;
    font-size: 300%;
    background: var(--color-grey-3);
    margin: 1rem;
    color: var(--color-grey-2);
}

.existing {
    font-size: 100%;
}

.dashboard__paragraph-timestamp {
    font-size: 80%;
    opacity: 0.6;
}