.reset_password__content {
  padding-top: 50px;
}

.reset_password__h1 {
  max-width: 500px;
  margin: 0 auto;
  color: var(--color-purple-1);
}

.reset_password__p {
  max-width: 500px;
  margin: 20px auto;
  font-size: 18px;
  font-weight: 600;
}
