.forgot_password__content {
  padding-top: 100px;
}

.forgot_password__h1 {
  max-width: 500px;
  margin: 0 auto;
  color: var(--color-purple-1);
}

.forgot_password__p {
  max-width: 500px;
  margin: 20px auto;
  font-size: 18px;
  font-weight: 600;
}

.forgot_password__content .form {
  max-width: 500px;
}

.forgot_password__logo {
  width: 150px;
  margin: 0 auto;
  display: block;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.45));
}

.forgot_password__actions-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0px auto;
}

.forgot_password__content .form__link:nth-child(1) {
  color: var(--color-green-2);
}

.forgot_password__succes {
  margin: 0 auto;
  color: var(--color-green-3);
  font-weight: 700;
  visibility: hidden;
}

.--form_sent {
  visibility: visible;
}
