.canvas-host {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 0;
    margin-bottom: 0;
    color: var(--color-orange-1);
}

.canvas-container {
    display: flex;
    flex-direction: row;
}

.canvas-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.canvas-color-buttons-container {
    transform: translateY(3rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 70vh;
}

.canvas-canvas {
    background-color: white;
    z-index: 1;
    grid-area: "canvas";
}

.canvas-square-button {
    height: 3rem;
}

.canvas-color-button {
    height: 1.3rem;
    border: 1px solid transparent;
}

.canvas-stroke-button {
    border-radius: 50%;
    border: none;
    background-color: black;
    margin-top: .2rem;
    align-self: center;
}

.canvas-stroke-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background: #FDFDFD;
}

.active-color {
    width: 3.6rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid white;
}

button {
    width: 3rem;
}