.rainbow-container{
    width: 500px;
    max-width: 500px;
    margin: 30px auto;
    height: 5px;
    border-radius: 10000px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.rainbow-container > div {
    width: 100%;
    height: 100%;
}

.rainbow__element--color-1{
    background-color: var(  --color-green-1);
}
.rainbow__element--color-2{
    background-color: var(  --color-green-2);
}

.rainbow__element--color-3{
    background-color: var(  --color-green-3);
}
.rainbow__element--color-4{
    background-color: var(  --color-green-4);
}
.rainbow__element--color-5{
    background-color: var(  --color-green-5);
}
.rainbow__element--color-6{
    background-color: var(  --color-yellow-1);
}
.rainbow__element--color-7{
    background-color: var(  --color-orange-1);
}
.rainbow__element--color-8{
    background-color: var(  --color-red-1);
}
.rainbow__element--color-9{
    background-color: var(  --color-purple-1);
}
.rainbow__element--color-10{
    background-color: var(  --color-purple-2);
}
