.layout-nav{
display: flex;
justify-content: space-between;
box-shadow: 0px 4px 4px rgba(37, 40, 71, 0.51);
height: 60px;
}

.layout-nav__logo{
    width: 200px;
    padding: 5px;
}

.layout-nav__ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    padding-right: 20px;
}

.layout-nav__li{
    display: block;
    padding: 0px;
    font-family: var(--Dosis);
}

.layout-nav__link{
    text-decoration: none;
    color: var(--color-green-4);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
    padding: 10px;
}

.layout-nav__link:hover{
    color: var(--color-orange-1);
}

.layout-nav__button{
    background-color: var(--color-orange-1);
    font-family: var(--Dosis);
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
    border: 1px solid var(--color-orange-1);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    margin-left: 30px;
}

.layout-nav__button:hover{
transition: .2s;
cursor: pointer;
transform: scale(.98);
}

main {
    height: 100%;
}